footer {
    position: relative;
    margin-top: -50px;
    height: 60px;
    padding:5px 0px;
    clear: both;
}

.page-breadcrumb{
	min-height:92vh;
}

th { font-size: 14px; }
td { font-size: 13px; }
.icono{
	font-size: 20px;
}